@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom:0;
}
:root{
  --top-part-color: hsl(208, 98%, 23%);
  --bsfont: "Lato", sans-serif;
  --border-color: hsl(0, 0%, 55%);
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
  
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.flex-align-center{
  align-items: center;
  justify-content: center;

}
.flex-align-start{
  align-items: center;
  justify-content: flex-start;
}
.section-head{
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 7px;
  margin-bottom: 7px;
  color: var(--top-part-color);
}

main{
  width: 100%;
  
  margin-left: auto;
  font-family: var(--bsfont);
  margin-right: auto;
}
#personal-statement{
  font-size: 1rem;
  margin-left: 4px;
}
#bottom-part{
  padding: 28px;
}
#name-heading{
  margin-left:auto;
  margin-right:auto;
  display:inline;
  margin-bottom: 4px;
}

#profile-pic{
  max-width: 100%;
  height:250px;
  border: 2px solid white;
  border-radius:58px;
}

#contacts{
  margin-top:5px;
  font-size: 1.1rem;
}

.main-icon{
  height: 100%;
  width: 45px;
  margin-right:10px;
}

.contact-icon{
  height: 100%;
  width: 30px;
  margin-right: 10px;
}
.code-head{
  font-size: 1.2rem;
}
.code-section{
  width:100%;
}
.code-skill{
  margin-top: 10px;
}
.bullet-point{
  height: 100%;
  width: 15px;
  margin-right: 10px;
}
#top-part{
  width: 100%;
  padding: 10px;
  
  display:grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--top-part-color);
  color: white ;
  /*
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  */
}